<div class="container">
    <div class="text-center row">
        <span class="label" ng-show="totalPages">{{currentPage}}/{{totalPages}}</span>
    </div>
    <div class="row">
        <pdfviewer src="{{pdfURL}}" on-page-load='pageLoaded(page,total)' id="viewer" load-progress='loadProgress(loaded, total, state)'></pdfviewer>
    </div>
    <div>
        <div class="btn-group-lg  col-xs-offset-4">
            <button class="btn" ng-click="gotoPage(1)">|&lt;</button>
            <button class="btn" ng-click="prevPage()">&lt;</button>
            <button class="btn" ng-click="nextPage()">&gt;</button>
            <button class="btn" ng-click="gotoPage(totalPages)">&gt;|</button>
        </div>
    </div>
    <br/>
    <br/>
</div>